@import "./../../../styles.scss";
.footer{
    padding: 12px;
    background-color: #f8f9fa;
    z-index: 99;

    p{
        color: $mainColor;
        font-weight: bold;
        margin-bottom: 0;

        a{
            font-size: large;
        }
        .designer{
            color: $orangeColor;
            margin:0 5px;
        }
    }
}