/* You can add global styles to this file, and also import other style files */

// Google Fonts in Arabic And English
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

// Primeng
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// Primeng Icons
@import "primeicons/primeicons.css";

$mainColor: #0077b6;
$lightColor : #f7f7f7;
$orangeColor : #ec6449;
$mainFont:"Tajawal", sans-serif !important;
$colors: (
    "main":#0077b6,
    "light":#f7f7f7
);

@each $key , $value in $colors {
    .text-#{$key} {
        color: $value;
    }

    .bg-#{$key} {
        background-color: $value !important;
    }

    .border-#{$key} {
        border-color: $value !important;
    }
}

body {
    font-family: "Tajawal", sans-serif !important;
}

body:lang(en) {
    direction: ltr;
    letter-spacing: 1px;
}

body:lang(ar) {
    direction: rtl;
}

a {
    text-decoration: none !important;
}

.btn-main {
    background-color: $mainColor;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;

    &:hover {
        background-color: white;
        color: $mainColor;
        border-color: $mainColor;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
